@use '../base/variables' as *;

.layout {
    &__header {
        border-radius: $radius-30 0 0 0;
        background-color: $white;
        padding: $space-16 $space-15 $space-14;

        &-inner {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }

        &-logo {
            display: flex;
            align-items: center;
            padding: $space-5 $space-20;
            gap: 6px;

            .app__icon {
                // height: 25px;

                img {
                    height: 100%;
                }
            }

            &-text {
                @include font(b5, bold);
                color: $primary-500;
                display: inline-block;
                width: 80px;
                text-align: center;
            }
        }

        &-account {
            display: flex;
            align-items: center;
            gap: 8px;

            &-info {
                display: flex;
                align-items: center;
                gap: 6px;
                margin-right: -$space-2;
            }

            &-avatar {
                width: 24px;
                height: 24px;
                border-radius: $radius-circle;
                object-fit: cover;
            }

            &-name {
                @include font(b4);
                color: $black-0;
                display: inline-block;
            }
        }
    }
}