@use '../base/variables' as *;

.layout__header {
    border-radius: 30px 0 0 0;
    background-color: $white;
    padding: 16px 15px 14px;

    &-inner {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    &-logo {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        gap: 6px;

        .app__icon {
            // height: 25px;

            img {
                height: 100%;
            }
        }

        &-text {
            @include font(b5, bold);
            color: $primary-500;
            display: inline-block;
            width: 80px;
            text-align: center;
        }
    }

    &-account {
        display: flex;
        align-items: center;
        gap: 8px;

        &-info{
            display: flex;
            align-items: center;
            gap: 6px;
            margin-right: -2px;
        }

        &-avatar{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
        }
        &-name{
            @include font(b4);
            color: $black-0;
            display: inline-block;
        }
    }
}