@use '../base/variables' as *;

.layout__lnb {
    padding: 24px 10px;
}

.layout__lnb-closed {
    .app__menu {
        padding: 0;
        pointer-events: none;
    }

    .app__menu-link {
        padding: 0;
        justify-content: center;

        & > *:not(.app__menu-icon) {
            display: none;
        }
    }
}

.app__menu {
    position: relative;
    padding-inline: 5px;
    margin-top: 14px;
    padding-top: 14px;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 1.5px;
        background: $primary-100;
        border-radius: 2px;
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .app__menu-list {
            gap: 6px;

            &.app__menu-children--open {
                margin-top: 10px;
            }

        &:not(:has(.app__icon)) {
            // 임의로 추가
                .app__menu-link {
                    padding-left: 20px;
                    @include font(b4);
                    padding-block: 4px
                }
            }
        }
    }

    &-link {
        @include font(b3);
        border: unset;
        background: unset;
        color: $white;
        width: 100%;
        padding-block: 13px;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 6px;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover,
        &:active,
        &.app__menu-active {
            background: $white;
            color: $primary-800;

            .app__icon {
                path {
                    fill: $white;
                }
            }
        }
    }

    &-label {
        text-align: center;
        flex: 1;
    }

    &-children {
        max-height: 0;
        opacity: 0;
        transform: translateY(-4px);
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.2s ease, transform 0.2s ease;
        will-change: max-height;
        &--open {
            max-height: 600px;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &-link--parent[aria-expanded='true'] .app__icon-ic-arrow-bottom {
        transform: rotate(180deg);
    }
}

.app__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    &-day {
        @include font(b3);
        color: $white;
    }
}

