$space-0: 0;
$space-1: 1px;
$space-2: 2px;
$space-4: 4px;
$space-5: 5px;
$space-6: 6px;
$space-7: 7px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-13: 13px;
$space-14: 14px;
$space-15: 15px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-38: 38px;

$scrollbar-size: 6px;
