@use '../base/variables' as *;

.layout {
    position: relative;
    display: grid;
    height: 100dvh;
    --lnb-width: 150px;
    grid-template-columns: var(--lnb-width) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "lnb gnb"
        "lnb content";
    background: $primary-500;
    color: $white;
    transition: grid-template-columns 0.25s ease;
}

.layout--gnb-full {
    grid-template-areas:
        "gnb gnb"
        "lnb content";
}

.layout--no-lnb {
    --lnb-width: 0px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "gnb"
        "content";
}

.layout__gnb {
    grid-area: gnb;
    position: sticky;
    top: 0;
    z-index: 10;
}

.layout__lnb {
    grid-area: lnb;
    background: palette("gradient", "primary");
}

.layout__content {
    grid-area: content;
    padding: 32px;
    overflow: auto;
}

.layout--lnb-compact {
    --lnb-width: 64px;
}

.layout--lnb-hidden {
    --lnb-width: 0px;
}