@use '../base/variables' as *;

.layout {
    position: relative;
    display: grid;
    height: 100dvh;
    --lnb-open-width: 150px;
    --lnb-width: var(--lnb-open-width);
    grid-template-columns: var(--lnb-width) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "lnb gnb"
        "lnb content";
    background: $primary-500;
    transition: grid-template-columns 0.25s ease;
}

.layout__gnb-full {
    grid-template-areas:
        "gnb gnb"
        "lnb content";
}

.layout__lnb-none {
    --lnb-width: 0px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "gnb"
        "content";
}

.layout__gnb {
    grid-area: gnb;
    position: sticky;
    top: 0;
    z-index: 10;
}

.layout__lnb {
    grid-area: lnb;
    background: palette("gradient", "primary");
}

.layout__content {
    grid-area: content;
    padding: 32px;
    overflow: auto;
}

.layout__lnb-compact.layout__lnb-closed {
    --lnb-width: 60px;
}

.layout__lnb-hidden.layout__lnb-closed {
    --lnb-width: 0px;
}

.layout__lnb-active {
    --lnb-width: var(--lnb-open-width);
}


.app__icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    svg{
        width: inherit;
        height: inherit;
    }
}