@use './variables' as *;

:root {
    &.theme--light {
        color-scheme: light;
    }

    &.theme--dark {
        --scrollbar-track: #{rgba($primary-700-dark, 0.35)};
        --scrollbar-thumb: #{rgba($primary-300-dark, 0.65)};
        --scrollbar-thumb-hover: #{rgba($primary-100-dark, 0.8)};

        color-scheme: dark;

        .layout {
            background: $white-dark;

            &__content {
                background: $white-dark;
                color: $black-0-dark;
            }

            &__header {
                background-color: $black-5-dark;

                &-logo-text {
                    color: $primary-300-dark;
                }

                &-account-name {
                    color: $black-0-dark;
                }
            }

            &__lnb {
                background: palette-dark("gradient", "primary");
            }
        }

        .app__menu {
            &::before {
                background: $primary-100-dark;
            }

            &-link {
                color: $black-0-dark;

                &:hover,
                &:active,
                &.app__menu-active {
                    background: $black-4-dark;
                    color: $primary-100-dark;

                    .app__icon path {
                        fill: $primary-100-dark;
                    }
                }
            }
        }

        .app__date {
            &-day {
                color: $black-0-dark;
            }
        }

        .app__tab {
            &-list {
                background-color: $primary-700-dark;
            }

            &-item {
                color: $black-0-dark;

                &-active {
                    background-color: $black-5-dark;
                    color: $primary-100-dark;
                }
            }
        }

        .app__page {
            &-tabs {
                background: $black-5-dark;
                border-bottom-color: $black-3-dark;
            }

            &-tab {
                background: $black-4-dark;
                border-color: $black-3-dark;
                color: $black-1-dark;

                &:hover {
                    background: $black-5-dark;
                    border-color: $primary-300-dark;
                }

                &--active {
                    background: $primary-100-dark;
                    border-color: $primary-300-dark;
                    color: $primary-800-dark;
                }

                &-close {
                    color: $black-2-dark;

                    &:hover {
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }

        .component__section-title,
        .component__section-subtitle,
        .component__section-hint,
        .font-system__title,
        .font-system__section-title,
        .settings__title,
        .settings__label {
            color: $black-0-dark;
        }

        .component__section-desc,
        .font-system__desc,
        .settings__desc,
        .component__helper {
            color: $black-2-dark;
        }

        .font-system {
            &__section {
                background: $black-5-dark;
                box-shadow: $shadow-font-section-dark;
            }

            &__divider {
                background: $black-4-dark;
            }
        }

        .component {
            &__input,
            &__textarea {
                background: $black-5-dark;
                border-color: $black-3-dark;
                color: $black-0-dark;

                &:focus {
                    border-color: $primary-300-dark;
                    box-shadow: $shadow-focus-soft-dark;
                }

                &:disabled {
                    background: $black-4-dark;
                    color: $black-2-dark;
                    border-color: $black-3-dark;
                }
            }
        }

        .app__select {
            &-opener {
                background: $black-5-dark;
                border-color: $black-3-dark;
                color: $black-0-dark;

                &:disabled {
                    background: $black-4-dark;
                    color: $black-2-dark;
                }
            }

            &-list {
                background: $black-5-dark;
                border-color: $black-3-dark;
                box-shadow: $shadow-dropdown-dark;
            }

            &-option {
                color: $black-1-dark;

                &:hover,
                &[aria-selected='true'] {
                    background: rgba($primary-100-dark, 0.2);
                    color: $primary-100-dark;
                }
            }
        }

        .app__toggle {
            &-track {
                background: $black-4-dark;
            }

            &-thumb {
                background: $black-0-dark;
                box-shadow: $shadow-toggle-thumb-dark;
            }

            &-label {
                color: $black-1-dark;
            }
        }

        .app__check {
            &--filled,
            &--filled-icon-text {
                background: $black-5-dark;
            }

            &--checked.app__check--filled,
            &--checked.app__check--filled-icon-text {
                background: $primary-100-dark;
            }

            &:hover:not(.app__check--disabled) {
                background: $black-5-dark;
            }

            &:focus-within {
                box-shadow: $shadow-focus-strong-dark;
            }

            &-control {
                border-color: $black-3-dark;
                background: $black-5-dark;
            }

            &-label {
                color: $black-1-dark;
            }

            &--checked &-control {
                background: $primary-500-dark;
                border-color: $primary-500-dark;
            }
        }

        .app__radio {
            &-control {
                border-color: $black-3-dark;
                background: $black-5-dark;
            }

            &--filled,
            &--filled-icon-text {
                background: $black-5-dark;
            }

            &--checked.app__check--filled,
            &--checked.app__check--filled-icon-text {
                background: $primary-100-dark;
            }

            &:hover:not(.app__radio--disabled) {
                background: $black-5-dark;
            }

            &:focus-within {
                box-shadow: $shadow-focus-strong-dark;
            }

            &-label {
                color: $black-1-dark;
            }

            &--checked &-control {
                border-color: $primary-500-dark;

                &::after {
                    background: $primary-500-dark;
                }
            }
        }

        .app__progress {
            &-track {
                background: $black-4-dark;
            }

            &-bar {
                background: $primary-500-dark;
            }

            &-label {
                color: $black-1-dark;
            }
        }

        .app__modal {
            &-dim {
                background: rgba(0, 0, 0, 0.6);
            }

            background: $black-5-dark;
            box-shadow: $shadow-modal-dark;

            &-title {
                color: $black-0-dark;
            }

            &-message {
                color: $black-1-dark;
            }

            &-close {
                color: $black-2-dark;

                &:hover {
                    background: $black-4-dark;
                }

                &:focus-visible {
                    outline-color: $primary-300-dark;
                }
            }
        }

        .app__chart {
            background: $black-5-dark;
            border-color: $black-3-dark;
        }

        .ag-theme-alpine {
            --ag-background-color: #0f1114;
            --ag-foreground-color: #f2f2f2;
            --ag-header-background-color: #151b1f;
            --ag-header-foreground-color: #e5e5e5;
            --ag-odd-row-background-color: #12161a;
            --ag-row-hover-color: #1a2026;
            --ag-border-color: #2d343a;
            --ag-row-border-color: #1f262c;
            --ag-input-background-color: #1a1f23;
            --ag-input-border-color: #2d343a;
            --ag-control-panel-background-color: #151b1f;
        }
    }
}
