@use '../base/variables' as *;

.app__tab {
    display: flex;
    flex-direction: column;

    &-list {
        display: flex;
        gap: 6px;
        border-radius: $radius-12;
        padding: $space-5 $space-7;
        background-color: $primary-700;
    }

    &-item {
        background-color: unset;
        border: unset;
        outline: unset;
        flex: 1;
        @include font(t3);
        letter-spacing: -0.03em;
        color: $white;
        padding-block: $space-6;
        border-radius: $radius-12;
        cursor: pointer;

        &-active{
            background-color: $white;
            color: $primary-800;
        }
    }
}