@use '../base/variables' as *;

// Screen Reader Only
.app__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.app__check {
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    padding: 6px 10px;
    border-radius: 8px;
    gap: 8px;

    /* interaction */
    &:hover:not(&--disabled) {
        background: $black-5;
    }

    &:focus-within {
        box-shadow: 0 0 0 2px rgba($primary-300, 0.6);
    }

    &:active:not(&--disabled) {
        transform: translateY(1px);
    }

    /* =========================
     Modifier
  ========================== */

    &--disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &--filled,
    &--filled-icon-text {
        background: $black-5;
    }

    &--filled-icon-text {
        gap: 10px;
    }

    /* checked + filled 계열 배경 */
    &--checked {

        &.app__check--filled,
        &.app__check--filled-icon-text {
            background: $primary-100;
        }
    }

    /* =========================
     Element
  ========================== */

    &-input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &-control {
        width: 18px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        border-radius: 4px;
        border: 1px solid $black-3;
        background: $white;
        transition: 0.2s ease;
    }

    &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg,
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &-label {
        @include font(b4, semibold);
        color: $black-1;
    }

    /* =========================
     State 기반 Element 변경
  ========================== */

    &--checked &-control {
        background: $primary-500;
        border-color: $primary-500;

        &::after {
            content: '';
            width: 8px;
            height: 4px;
            border-left: 2px solid $white;
            border-bottom: 2px solid $white;
            transform: rotate(-45deg);
        }
    }

    &--filled &-control,
    &--filled-icon-text &-control {
        display: none;
    }

    &--icon &-label {
        display: none;
    }
}