@use '../base/variables' as *;

.app__input {
    @include font(b4, medium);

    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;

    border-radius: 8px;
    border: 1px solid $black-3;
    background: $white;
    color: $black-1;

    transition: 0.2s ease;
    outline: none;

    &::placeholder {
        color: $black-2;
    }

    &:focus-visible,
    &:focus {
        border-color: $primary-500;
        box-shadow: 0 0 0 3px rgba($primary-300, 0.25);
    }

    &:disabled,
    &[aria-disabled='true'] {
        background: $black-5;
        color: $black-2;
        cursor: not-allowed;
        opacity: 0.6;
        box-shadow: none;
    }

    &--error {
        border-color: $error;
    }

    &--compact {
        @include font(b5, medium);

        height: 28px;
        padding: 0 8px;
        border-radius: 6px;

        &:focus-visible,
        &:focus {
            box-shadow: 0 0 0 3px rgba($primary-300, 0.25);
        }
    }
}
