@use '../base/variables' as *;

.app__grid {
    width: 100%;
    height: 420px;
    position: relative;

    > div {
        height: 100%;
    }

    .ag-root-wrapper {
        border-radius: $radius-12;
        overflow: hidden;
        border: $border-thin solid $black-3;
    }

    .ag-header {
        background: $black-5;
        color: $black-1;
        border-bottom: $border-thin solid $black-3;
    }

    .ag-row {
        border-bottom: $border-thin solid $black-4;

        &.ag-row-selected {
            background: rgba($primary-100, 0.6);
        }
    }

    .ag-overlay {
        display: none;
    }

    &-overlay {
        @include font(b4, medium);
        color: $black-2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 100%;

        &--forced {
            position: absolute;
            inset: 0;
            background: $white;
            z-index: 3;
        }
    }

    &-overlay-icon {
        font-size: 16px;
    }

    &-input {
        @include font(b5, medium);
        height: 28px;
        padding: 0 $space-8;
        border-radius: $radius-6;
        border: $border-thin solid $black-3;
        background: $white;
        color: $black-1;
        width: 100%;
    }

    &-multi-input {
        display: flex;
        align-items: center;
        gap: 6px;
        height: 100%;

        .app__grid-input {
            flex: 1;
        }
    }
}
