@use '../base/variables' as *;

.app__select {
    position: relative;
    min-width: 180px;

    &-input {
        display: none;
    }

    &-opener {
        @include font(b4, semibold);
        width: 100%;
        height: 36px;
        padding: 0 $space-12;
        border-radius: $radius-10;
        border: $border-thin solid $black-3;
        background: $white;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        cursor: pointer;

        &:focus-visible {
            outline: 2px solid $primary-300;
            outline-offset: 2px;
        }

        &:hover:not(:disabled) {
            border-color: $primary-300;
        }

        &:active:not(:disabled) {
            border-color: $primary-500;
            box-shadow: $shadow-focus;
        }

        &:disabled {
            background: $black-5;
            color: $black-2;
            cursor: not-allowed;
            border-color: $black-3;
        }
    }

    &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s ease;
    }

    &-list {
        position: absolute;
        z-index: 10;
        top: calc(100% + 6px);
        left: 0;
        width: 100%;
        padding: $space-6;
        border-radius: $radius-10;
        border: $border-thin solid $black-3;
        background: $white;
        display: flex;
        flex-direction: column;
        gap: 4px;
        box-shadow: $shadow-dropdown;
    }

    &-option {
        width: 100%;
        @include font(b4, semibold);
        height: 32px;
        border-radius: $radius-8;
        border: 0;
        background: transparent;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding: 0 $space-8;
        color: $black-1;

        &:hover,
        &[aria-selected='true'] {
            background: $primary-100;
            color: $primary-800;
        }
    }
}
