@use '../base/variables' as *;

.app__chart {
    width: 100%;
    background: $white;
    border-radius: $radius-12;
    border: $border-thin solid $black-4;
    padding: $space-16;
    box-sizing: border-box;

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}
