@use '../base/variables' as *;

.app__sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: $space-0;
    margin: -$space-1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.app__check {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    padding: $space-6 $space-10;
    border-radius: $radius-8;

    &--disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &--filled {
        background: $black-5;
    }

    &--filled-icon-text {
        background: $black-5;
        gap: 10px;
    }

    &--checked.app__check--filled,
    &--checked.app__check--filled-icon-text {
        background: $primary-100;
    }

    &:hover:not(.app__check--disabled) {
        background: $black-5;
    }

    &:focus-within {
        box-shadow: $shadow-focus-strong;
    }

    &:active:not(.app__check--disabled) {
        transform: translateY(1px);
    }

    &-input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &-control {
        width: 18px;
        height: 18px;
        border-radius: $radius-4;
        border: $border-thin solid $black-3;
        background: $white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;
    }

    &-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg,
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &-label {
        @include font(b4, semibold);
        color: $black-1;
    }
}

.app__check {
    &--checked &-control {
        background: $primary-500;
        border-color: $primary-500;

        &::after {
            content: '';
            width: 8px;
            height: 4px;
            border-left: 2px solid $white;
            border-bottom: 2px solid $white;
            transform: rotate(-45deg);
        }
    }

    &--filled &-control,
    &--filled-icon-text &-control {
        display: none;
    }

    &--icon &-label {
        display: none;
    }
}
