@use "./base" as base;

@use "./components/button";
@use "./components/input";
@use "./components/badge";

@use "./layout/gnb";
@use "./layout/lnb";
@use "./layout/footer";
@use "./layout/container";

@use "./pages/main";


*{
    font-family: base.$font-base, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', Arial, sans-serif;
}